@import "tailwindcss";

:root {
  /* Primary */
  --deep-oud:      #2E2016;
  --warm-bark:     #3D2C1E;

  /* Secondary */
  --warm-cream:    #F0E6D3;
  --ghost-cream:   rgba(240, 230, 211, 0.07);

  /* Accent */
  --desert-clay:   #C4956A;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: #2E2016;
  background-image: url('/mosque.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #F0E6D3;
  font-family: Arial, Helvetica, sans-serif;
}
